<div class="a">
    <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6 footer-info">
                <img src="https://www.bookempire.co.uk/public/site_assets/images/footer-logo.png" width="150" height="82" alt="Best Book Printing Service in UK">
            
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Videos and Links</h4>
                <ul>
                  <li><a href="https://www.bookempire.co.uk/public/site_assets/audio/1Supplying files.mp4" target="_blank">Prepare files - video</a></li>
                  <li><a href="https://www.bookempire.co.uk/public/site_assets/audio/3Bleed.mp4" target="_blank">What is bleed - video</a></li>
                  <li><a href="https://www.bookempire.co.uk/public/site_assets/audio/2transfer files.mp4" target="_blank">Transfer Your files - video</a></li>
                        <li><a href="https://bookempire.co.uk/proof-approval-sign-off">Proof Sign Off</a></li>
                        <li><a href="https://bookempire.co.uk/binding">Thesis printing</a></li>
                        <li><a href="https://bookempire.co.uk/autobiography">Order a short run book</a></li>
                        <li><a href="https://bookempire.co.uk/yearbook">Yearbook printing</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-contact">
                <h4>Contact Us</h4>
     <p>BOOK EMPIRE,<br>Unit 7, Lotherton Way,<br>Leeds, West Yorkshire, LS25 2JY.<br>
                  <strong>Phone:</strong> 0113 2874 724<br>
                  <strong>Email:</strong> .co.uk
                </p>
    
                <div class="social-links">
    
                </div>
    
              </div>
    
              <div class="col-lg-3 col-md-6 footer-newsletter">
                <h4>Instant price</h4>
                <p>Find out the cost of printing your book by using our instant price system. Follow 8 simple steps and receive an instant quote emailed to you within 30 seconds.  We will beat any ‘like for like’ short run digital book quote.</p>
                <div class="foot-btn-blk">
                  <a href="https://bookempire.co.uk/price-1" class="btn btn-primary">Get online quote</a>
                </div>
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            © Copyright 2007 - 2022 <strong><span>Book Empire</span></strong> | All Rights Reserved.
          </div>
        </div>
      </footer>
</div>