<nav class="nav nav-pills flex-column flex-sm-row">
  <a class ="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/bookCRUD">bookCRUD</a>

  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="http://localhost:6010/booklist">booklist 
  </a>
  <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/customer-reg">customerManage</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">bookManage</a>

  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Confirm</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/book-category">bookCatagory</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
  <a class="flex-sm-fill text-sm-center nav-link disabled" href="http://localhost:6010/admin" >Home</a>
</nav>