<nav class="nav nav-pills flex-column flex-sm-row">
  <a class ="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/bookCRUD">Add Book</a>

  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="http://localhost:6010/booklist">Booklist 
  </a>
  <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/customerCRUD">Manage <br> Customer</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/customer-list">Listed <br>Customer</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/book-items" >Manage Book W</a>

  <a class="flex-sm-fill text-sm-center nav-link active" href="http://localhost:6010/catagory-crud-list">Manage Book C</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/book-category">BookCatagory</a>

  <a class="flex-sm-fill text-sm-center nav-link disabled" href="http://localhost:6010/admin" >Home</a>
</nav>