
<nav class="nav ">

  <a class=" nav-link " href="http://localhost:4200/customer-list">Customer Details</a>
  

    <a class =" nav-link" href="http://localhost:4200/bookCRUD">bookCRUD</a>
    <a class=" nav-link"  href="http://localhost:4200/booklist">booklist 
    </a>
    <a class=" nav-link" href="http://localhost:4200/catagory-crud-list">By Category</a>
    <a class=" nav-link" href="http://localhost:4200/writers-crud-list"> By Writers Name</a>
    
    <a class=" nav-link" href="http://localhost:4200/customer-header" >Home</a>
  </nav>
