<nav class="nav nav-pills flex-column flex-sm-row">
    <a class ="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/bookCRUD">bookCRUD</a>
  
    <a class="flex-sm-fill text-sm-center nav-link"  href="http://localhost:6010/booklist">booklist 
    </a>
    <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/customerCRUD">customerManage</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/customer-list">bookManage</a>
  
    <a class="flex-sm-fill text-sm-center nav-link " href="#">Confirm</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/customer-reg">By Category</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:6010/writers-crud-list"> By Writers Name</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled" href="http://localhost:6010/customer-header" >Home</a>
  </nav>
