<p>islami-booklist !</p>
<ul style="text-align: left;">
    <li><span style="font-family: inherit; font-size: medium;"><br></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/pdf.html?m=1">সাহাবী হযরত আব্দুল্লাহ ইবনে আব্বাস
                (রাঃ)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/pdf_14.html">ইমাম ইবনে সীরীন (রহঃ)&nbsp;</a>:
            (৩৩-১১০ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_83.html">ইমাম আবু হানীফা
                (রহঃ)&nbsp;</a>[নুমান বিন সাবিত] : (৮০-১৫০ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_53.html">ইমাম মালিক</a>&nbsp;: (৯৫-১৭৯
            হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_84.html">ইমাম আব্দুল্লাহ ইবনে মুবারক
                (রহঃ)&nbsp;</a>: (১১৮-১৮১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_70.html">ইমাম আহমদ (রহঃ)</a>&nbsp;:
            (১৬৪-২৪১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_34.html?m=1">ইমাম ইবনে সা'দ
                (রহঃ)&nbsp;</a>[আবু আব্দুল্লাহ মুহাম্মদ ] : (১৬৮-২৩০ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_23.html">ইমাম বুখারী (রহঃ)</a>&nbsp;[আবু
            আব্দুল্লাহ মুহাম্মদ ইবনে ইসমাইল বুখারী] : (১৯৪-২৫৬ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_16.html">ইমাম আবু দাউদ
                (রহঃ)</a>&nbsp;[সুলাইমান ইবনে আসআছ সাজিসতানী] : (২০২-২৭৫ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_24.html">ইমাম মুসলিম (রহঃ)</a>&nbsp;:
            (২০৪-২৬১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/pdf_12.html">ইমাম ইবনু আ'বিদ দুন'ইয়া
                (রহঃ)</a>&nbsp;: (২০৮-২৮১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_72.html">ইমাম তিরমিজী
                (রহঃ)</a>&nbsp;[আবু ঈসা মুহাম্মদ ইবনে ঈসা ইবনে সওরাহ ইবনে মুসা] : (২১০- ২৭৯ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_97.html">ইমাম ইবনে মাজাহ
                (রহঃ)</a>&nbsp;: (২০৯ - ২৭৩ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/pdf_7.html">ইমাম ইবনে হিশাম (রহঃ)&nbsp;</a>: (ওফাত
            ২১২/২১৮ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_52.html">ইমাম নাসাঈ (রহঃ)</a>&nbsp;:
            (২১৫-৩০৩ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/pdf_35.html?m=1">ইমাম তাবারী (রহঃ)</a>&nbsp;[আবু
            জাফর মুহাম্মদ ইবনে জারির] : (২২৪-৩১০ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_33.html?m=1">ইমাম
                ত্বাহাবী&nbsp;(রহঃ)</a>&nbsp;: (২২৯- ৩২১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_12.html">ইমাম বায়হাকী
                (রহঃ)&nbsp;</a>[আবু বকর আহমদ ইবনে হোসাইন ইবনে আলী ইবনে আব্দুল্লাহ ইবনে মুসা] : (৩৮৪- ৪৫৮ হি:)</span>
    </li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_30.html">ইমাম আবুল লাইস সমরকান্দী
                (রহঃ)</a>&nbsp;: (৩৩২-৩৭৩ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_86.html?m=1">ইমাম গাজ্জালী
                (রহঃ)&nbsp;</a>: (৪৫০-৫০৫ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_82.html">ইমাম কাজী আয়াজ ইবনে মূসা
                (রহঃ)</a>&nbsp;(১০৮৩-১১৪৯ ইং)</span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_24.html">বড়পীর হযরত শায়খ আব্দুল
                    কাদির জিলানী (রহঃ)</a>&nbsp;: (৪৭০-৫৬১ হিঃ)</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/09/blog-post_273.html?m=0">ইমাম আবুল ফারাজ ইবনুল
                    জাওযি (রহঃ)</a>&nbsp;(৫০৭-৫৯৭ হিঃ/১১১২-১২০০ ইং)&nbsp;&nbsp;</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_98.html">ইমাম বুরহান উদ্দীন আবুল হাসান
                আলী (রহঃ)</a>&nbsp;: (৫১১-৫৯৩ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_57.html">গরীবে নেওয়াজ হযরত খাজা
                মঈনুদ্দীন চিশতি আজমিরী (রহঃ)&nbsp;</a>: (৫৩৬-৬৩৩ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_52.html">ইমাম ফখরুদ্দীন রাযী
                (রহঃ)</a>&nbsp;: (৫৪৪-৬০৬ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_35.html">নিজাম-উল-মুলক (রহঃ)</a>&nbsp;:
            (১০১৮-১০৯২ ইং)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_80.html">ইমাম শরফুদ্দীন বুসিরী
                (রহঃ)</a>&nbsp;: (১২১১-১২৯৪ ইঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_93.html">হযরত খাজা নিজামুদ্দিন আউলিয়া
                (রহঃ)</a>(১২৩৮-১৩২৫ ইং)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_67.html">ইমাম তকিউদ্দীন সুবকী
                (রহঃ)</a>&nbsp;: (৬৮৩-৭৫৬ হিঃ)&nbsp;</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_53.html">ইমাম মহিউদ্দীন ইবনুল আরাবী
                (রহঃ)</a>&nbsp;: (৫৬০-৬৩৮ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_88.html">ইমাম নববী (রহঃ)</a>&nbsp;:
                (৬৩১-৬৭৬ হিঃ)</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/12/blog-post_74.html">শায়খ শরফুদ্দীন আহমদ ইয়াহইয়া
                মানিরী (রহঃ) [৬৬১-৭৮২ হিঃ]</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/01/blog-post_91.html">ইমাম আল-যুজুরী দামেস্কী
                    (রহঃ)</a>&nbsp;[৬৭১-৭৪১হিঃ]</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_55.html">ইমাম ইবনে কাসীর
                    (রহঃ)&nbsp;</a>: (ওফাত ৭৭৪ হিঃ)</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/11/blog-post_975.html">ইমাম ইবনে আবী শায়বাহ
                (রহঃ)&nbsp;</a>[৭৭৫হিঃ-৮৪৯হিঃ]</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_37.html">ইমাম কুরতুবী আল মালিকী
                (রহঃ)</a>&nbsp;: (ওফাত ৭৬১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_50.html">ইবনে হাজর আসকালানী
                (রহঃ)</a>&nbsp;: (৭৭৩-৮৫২ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_6.html">ইমাম
                    শায়বানী&nbsp;</a>[মুহাম্মদ ইবনুল হাসান] (রহঃ) : (৭৫০-৮০৫ হিঃ)</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/11/blog-post_3.html?m=0">ইমাম নুয়াইম বিন হাম্মাদ
                    (رحمة الله)&nbsp;</a>[</span>ওফাত ৮৪৩ হিঃ]&nbsp;</span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_54.html">ইমাম জালালুদ্দিন সূয়ুতি
                    (রহঃ)</a>&nbsp;: (৮৪৯-৯১১ হিঃ)</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/11/blog-post_34.html?m=0">ইমাম শিহাবুদ্দিন আল
                    কাস্তালানী&nbsp;(رحمة الله)</a>[</span>৮৫১-৯২৩ হিঃ]</span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/11/blog-post_56.html?m=0">ইমাম মুত্তাকী আল হিন্দী
                    (رحمة الله)&nbsp;</a>[৮৮৮-৯৭৫ হিঃ]</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span><span>📚&nbsp;</span><a
                    href="https://sunni-encyclopedia.blogspot.com/2019/11/blog-post_860.html">ইমাম আব্দুল ওয়াহাব শারানী
                    (রহঃ)</a><span>[৮৯৮হিঃ-৯৭৩হিঃ]</span></span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_66.html">ইমাম ইবনে হাজর হাইসামী
                    (রহঃ)&nbsp;</a>: (ওফাত-৯৮৪ হিঃ)</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_11.html">ইমাম দারা কুতনী
                    (রহঃ)</a>&nbsp;[ওফাত ৯৯৫ হিঃ]</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span><span>📚&nbsp;</span><a
                    href="https://sunni-encyclopedia.blogspot.com/2019/11/blog-post_596.html">ইমাম হাকিম নিশাপূরী
                    (রহঃ)</a><span>&nbsp;</span><span>[৯৩৩-১০১৪হিঃ]</span></span></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_76.html">ইমাম মুজাদ্দিদ আলফে সানী
                (রহঃ)</a>&nbsp;: (৯৭১-১০৩৪ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_79.html">হযরত খাজা মাসুম ফারুকী সেরহিন্দী
                নকশাবন্দী (রহঃ)</a>&nbsp;[মুজাদ্দিদ আলফে সানী (রহঃ) এর ৩য় ছেলে] : (১০০৭-১০৭৯ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_51.html">ইমাম কাজী সানাউল্লাহ পানিপথী
                (রহঃ)&nbsp;</a>: (ওফাত ১২২৫ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/02/blog-post_21.html">ইমাম সুলতান মোল্লা আলী কারী
                (রহঃ)</a>&nbsp;: (ওফাত ১০১৪ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_85.html?m=1">ইমাম আব্দুল হক মুহাদ্দিসে
                দেহলবী (রহঃ)</a>&nbsp;: (৯৫৮-১০৫২ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/01/blog-post_66.html">ইমাম সুলায়মান আল-জাযুলী
                    (রহঃ)</a>&nbsp;[ওফাত ১৪৬৫ ইং]</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="http://sunni-encyclopedia.blogspot.com/2018/05/blog-post_66.html">ইমাম শাহ্‌ আব্দুল আযীয
                    মুহাদ্দিসে দেহলভী (রহঃ)</a></span></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_40.html">ইমাম শাহ ওয়ালিউল্লাহ মুহাদ্দিসে
                দেহলভী (রহঃ)</a><a href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_40.html">&nbsp;</a>:
            (১৭০৩-১৭৬২ ইং)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_28.html">হাজী ইমদাদুল্লাহ মুহাজ্জিরে
                মক্কী (রহঃ)</a>&nbsp;(১৮১৪-১৮৯৬ ইং)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_45.html?m=1">আব্দুল হক মুহাজ্জিরে মক্কী
                (রহঃ)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_15.html?m=1">আ'লা হযরত ইমাম আহমদ
                    রেজাখান বেরলভী (রহঃ)</a>&nbsp;(১২৭২/১৮৫৬-১৩৪০ হিঃ/১৯২১ ইং)</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/11/blog-post_60.html?m=0">যাহিদ আল-কাওসারী
                    [১২৯৬-১৩৭১হিঃ]</a></span></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_3.html">হাকিমুল উম্মাহ মুফতী ইয়ার খান
                নঈমী (রহঃ)</a>(১৯০৪-১৯৭১ ইং)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://www.sunni-encyclopedia.blogspot.com/2018/02/b1.html">ইমামে আহলে সুন্নাত আল্লামা শফী
                উকাড়বী (রহঃ)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_59.html">হযরত আবেদ শাহ মুজাদ্দেদী
                (রহঃ)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_90.html">কবি আল্লামা মুহাম্মদ ইকবাল
                    (রহঃ)</a>&nbsp;(ওফাত ১৯৩৮ ইং)</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_33.html">হযরত খাজা আব্দুর রহমান চৌরভী
                    (রহঃ)</a>&nbsp;</span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_58.html">হযরত আল্লামা হাফেজ ক্বারী
                    তৈয়্যব শাহ (রহঃ)</a></span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_220.html">শাহ্ ছুফী সৈয়দ দেলাওর
                    হোসাইন মাইজভান্ডারী (রহঃ)</a></span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;<a
                    href="https://sunni-encyclopedia.blogspot.com/2018/09/blog-post_48.html?m=1">কলম সম্রাট আল্লামা
                    আরশাদ আল-কাদেরী (রহঃ)</a></span></span></li>
    <li><span style="font-family: inherit; font-size: medium;"><span>📚&nbsp;</span><a
                href="http://www.sunni-encyclopedia.com/2020/04/blog-post_17.html">মুফতি সৈয়্যদ আমিমুল ইহসান মুজাদ্দেদী
                (রহঃ)&nbsp;</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2018/09/blog-post_87.html?m=1">মুফতি মুহাম্মদ আমজাদ আলী
                আজমী (রহঃ)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2018/09/blog-post_5.html?m=1">ইমামে আহলে সুন্নাত আল্লামা
                আযীযুল হক শেরে বাংলা (রহঃ)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/01/blog-post_26.html">শামসুদ্দিন আহমদ জাফরী রেজভী
                (রহঃ)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/01/blog-post_402.html?m=1">আল্লামা আকবর আলী রেজভী
                (রহঃ)</a>&nbsp;[1859-2015]</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_64.html">অধ্যক্ষ হাফেজ মুহাম্মদ আব্দুল
                জলিল (রহঃ)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/04/blog-post_6.html">উস্তাদুল উলামা মুহাম্মদ আজিজুল হক
                আল কাদেরী (রহঃ)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_39.html?m=1">ইমামে আহলে সুন্নাত আল্লামা
                নুরুল ইসলাম হাশেমী (রহ.)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2018/07/blog-post_40.html">মাওলানা মুহাম্মদ খলিল আহমদ
                শাহানপুরী</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://www.sunni-encyclopedia.com/2021/04/blog-post_82.html">মোহাম্মদ মামুনুর রশীদ (رحمة
                الله)</a></span></li>
</ul>