<div>
 <app-header></app-header> 
 <router-outlet></router-outlet>
<div>
  <div id="carouselExampleCaptions bg-dark" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://t3.ftcdn.net/jpg/03/98/03/82/240_F_398038236_6B1UCCfVDSsAHcQCIW22T2A76e60zvIw.jpg" class="d-block width-70% height-50% align-items-center" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>30% Discount For Ramadan </h4>
          <p>We are Offering 30% discount on Islamic Books.</p>
          <a href="http://localhost:6010/islami-booklist">Discounted books</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://t4.ftcdn.net/jpg/05/69/96/25/240_F_569962571_xh0grbV3WZNPSnqGTgJdgBF2c3BELgT6.jpg" class="d-block  width-50% height-50% align-items-center" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="" class="d-block width-50% height-50%" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="" class="d-block width-50% height-50%" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>forth slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="" class="d-block width-50% height-50%" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>fifth slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



  <app-footer></app-footer>
</div>
