<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="">booklist 
    booklist</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:4200/customer-reg">customerManage</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:4200/bookCRUD">bookCRUD</a>
  <a class="flex-sm-fill text-sm-center nav-link">Disabled</a>

  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Confirm</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Longer nav link</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
  <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" >Home</a>
</nav>